#new-section {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #f0f0f0;
    width: 100%;
  }
  
  .new-section-content {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin: 0 auto;
  }
  
  .left-side {
    flex: 1;
    position: relative;
    background-image: url('src/assets/bgs/leaf.png');
    background-size: cover;
    background-position: center;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: left;
    height: 800px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .background-content {
    position: relative;
  }
  
  .left-side::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  .background-content h1 {
    font-size: 50px;
    color: rgba(255, 255, 255, 1);
    margin: 0 0 20px 0;
    font-family: "Noto Sans", sans-serif;
  }
  
  .background-content p {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 20px 0;
    font-family: "Noto Sans", sans-serif;
    color: rgb(184, 179, 179);
  }
  
  .background-content .cta-button {
    padding: 20px 70px;
    background-color: #ffffff;
    font-family: "Noto Sans", sans-serif;
    color: rgba(60, 66, 66, 1);
    text-decoration: none;
    border-radius: 12px;
    font-size: 21px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .background-content .cta-button:hover {
    background-color: #14331091;
  }
  
  .right-side {
    flex: 1;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
  }
  
  .right-side img {
    width: 800px;
    height: 800px;
  }
  
  @media only screen and (min-width: 360px) and (max-width: 425px) {
    #new-section {
      flex-direction: row;
      padding: 30px;
    }
  
    .new-section-content {
      flex-direction: column;
      margin-left: 0.5rem;
    }
  
    .left-side {
      height: 350px;
      width: 98%;
      padding: 18px;
      text-align: center;
      border-radius: 15px 15px 0 0;
    }
  
    .background-content h1 {
      font-size: 21px;
    }
  
    .background-content p {
      font-size: 12px;
      line-height: 1.4;
    }
  
    .background-content .cta-button {
      padding: 15px 30px;
      font-size: 12px;
    }
  
    .right-side img {
      width: 104.5%;
      height: 350px;
      border-radius: 0 0 10px 10px;
    }
  }
  
  @media only screen and (min-width: 426px) and (max-width: 767px) {
    #new-section {
      flex-direction: row;
      padding: 30px;
    }
  
    .new-section-content {
      flex-direction: column;
      margin-left: 0.5rem;
    }
  
    .left-side {
      height: 400px;
      width: 100%;
      padding: 18px;
      text-align: center;
      border-radius: 15px 15px 0 0;
    }
  
    .background-content h1 {
      font-size: 25px;
    }
  
    .background-content p {
      font-size: 15px;
      line-height: 1.4;
    }
  
    .background-content .cta-button {
      padding: 15px 30px;
      font-size: 15px;
    }
  
    .right-side img {
      width: 106%;
      height: 400px;
      padding: 0 18px 0 0;
      border-radius: 0 0 10px 10px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .new-section-content {
      flex-direction: row;
    }
  
    .left-side {
      height: 460px;
      border-radius: 15px 0 0 15px;
      margin-left: 2rem;
    }
  
    .background-content h1 {
      margin-top: 2rem;
      font-size: 20px;
    }
  
    .background-content p {
      font-size: 15px;
      line-height: 1.6;
    }
  
    .background-content .cta-button {
      padding: 15px 30px;
      font-size: 15px;
    }
  
    .right-side img {
      width: 95%;
      height: 460px;
      border-radius: 0 15px 15px 0;
    }
  }
  
  @media only screen and (min-width: 1025px) and (max-width: 1440px) {
    #new-section {
      padding: 65px;
    }
  
    .new-section-content {
      flex-direction: row;
      margin-right: 3rem;
    }
  
    .left-side {
      height: 670px;
      padding: 50px;
      text-align: left;
      border-radius: 15px 0 0 15px;
    }
  
    .background-content h1 {
      font-size: 40px;
    }
  
    .background-content p {
      font-size: 20px;
      line-height: 1.8;
    }
  
    .background-content .cta-button {
      padding: 20px 50px;
      font-size: 21px;
    }
  
    .right-side img {
      width: 110%;
      height: 670px;
      border-radius: 0 15px 15px 0;
    }
  }
  